@using Common.ClassesDB
@model JsListViewModel

<div>
    <br />
    <div>
        @if (Model is null)
        {
            <h5>Análise em andamento...</h5>
        }
        else
        {
            var list = Model.JsFiles;
            var mathCount = list.Where(f => f.HasMatch).Count();

            @if (list.Count != Model.TotalCount)
            {
                <h5>Análise em andamento...</h5>
            }
            else
            {
                <h5>Análise finalizada!</h5>
            }
            <h6><b>Arquivos analisados:</b> @(list.Count) / @(Model.TotalCount)</h6>
            <h6><b>Correspondências encontradas:</b> @(mathCount) / @(Model.TotalCount)</h6>
        }
    </div>
    @if (Model is not null && Model.JsFiles.Count > 0)
    {
        var list = Model.JsFiles;
        <br />
        <div class="table-responsive">
            <table class="table table-bordered border-primary table-striped">
                <thead class="table-bordered border-primary" style="background-color:lightblue">
                    <tr style="align-content:center">
                        <th scope="col" style="width:25%;text-align:center">
                            <span>
                                <b>Arquivo</b>
                            </span>
                        </th>
                        <th scope="col" style="width:35%;text-align:center">
                            <span>
                                <b>
                                    Pacote Correspondente
                                </b>
                            </span>
                        </th>
                        <th scope="col" style="width:10%;text-align:center">
                            <span>
                                <b>Similaridade</b>
                            </span>
                        </th>
                        <th scope="col" style="width:30%;text-align:center">
                            <span>
                                <b>Vulnerabilidades Conhecidas</b>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in list)
                    {
                        <tr>
                            <td style="align-content:center">
                                <span style="color:dimgrey">@(file.Directory)</span><span><b>@(file.Name)</b></span>
                            </td>
                            <td style="align-content:center">
                                @if (file.HasMatch)
                                {
                                    <span>
                                        <a href="@(file.NpmPackageLink)" target="_blank" style="text-decoration:none">npm - @(file.MatchedLibrary) <img src="~/icons/open_in_new.svg" width="16px" height="16px" style="margin-bottom:3px" /></a> -  <b>@(file.GetMatchedVersionInfo())</b>
                                    </span>
                                    <br />
                                    <small style="color:dimgrey"><b>Versão mais recente (release):</b> @(file.GetLatestVersionStableInfo())</small>
                                    <br />
                                    <small style="color:dimgrey"><b>Versão mais recente (dev):</b> @(file.GetLatestVersionDevInfo())</small>
                                }
                                else
                                {
                                    <div style="text-align:center">
                                        <span>Sem correspondência</span>
                                    </div>
                                }
                            </td>
                            <td style="align-content:center;text-align:center">
                                <span>@(file.HasMatch ? file.Similarity : "-")</span>
                            </td>
                            <td style="align-content:center;text-align:center">
                                @if (file.HasMatch)
                                {
                                    <span>
                                        <a href="@(file.SnykVulnerabilityLink)" target="_blank" style="text-decoration:none">Snyk - @(file.MatchedLibrary) @(file.MatchedVersion) <img src="~/icons/open_in_new.svg" width="20px" height="20px" style="margin-bottom:3px" /></a>
                                    </span>
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

