@model List<UrlViewModel> 
<div>
    <br />
    <div>
        @if (Model is null)
        {
            <h5>Análise em andamento...</h5>
        }
        else
        {
            <h5>Análise concluída!</h5>
        }
    </div>
    @if(Model is not null)
    {
        <div>
            <h6><b>Endereços encontrados:</b> @(Model.Count)</h6>
            <h6><b>Ameaças detectadas:</b> @(Model.Where(u => u.IsThreat).Count())/@(Model.Count)</h6>
        </div>
        <br />
        <div class="table-responsive">
            <table class="table table-bordered border-primary table-striped">
                <thead class="table-bordered border-primary" style="background-color:lightblue">
                    <tr style="align-content:center;text-align:center">
                        <th scope="col"><span><b>Endereço Web</b></span></th>
                        <th scope="col"><span><b>Resolução DNS</b></span></th>
                        <th scope="col"><span><b>Tipo de Endereço</b></span></th>
                        <th scope="col"><span><b>Usa Certificado (HTTPS)</b></span></th>
                        <th scope="col"><span><b>Risco</b></span></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var url in Model)
                    {
                        <tr>
                            <td>@(url.OriginalUrl)</td>
                            <td>@(url.Host)</td>
                            <td style="align-content:center;text-align:center">@url.UrlType</td>
                            <td style="align-content:center;text-align:center">@(url.IsHttps ? "Sim" : "Não")</td>
                            <td style="align-content:center;text-align:center">@(url.Threat)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

