@using AnalysisWebApp.Enums
@model VirusTotalViewModel
<div>
    <br />
    <div>
        <h5><b>Anti-Malwares testados:</b> @(Model.EngineResults.Count)</h5>
        @{
            var threatResults = Model.EngineResults.Where(r => r.EngineResult.IsThreat()).Count();
        }
        <h5><b>Ameaças detectadas: </b> @(threatResults)</h5>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-bordered border-primary table-striped">
            <thead class="table-bordered border-primary" style="background-color:lightblue">
                <tr style="align-content:center;text-align:center">
                    <th scope="col"><h6><b>Motor Anti-Malware</b></h6></th>
                    <th scope="col"><h6><b>Versão</b></h6></th>
                    <th scope="col"><h6><b>Resultado</b></h6></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.EngineResults)
                {
                    <tr>
                        <td style="align-content:center">@(result.EngineName)</td>
                        <td style="align-content:center;text-align:center">
                            <div>@result.EngineVersion (@result.EngineVersionDate)</div>
                        </td>
                        <td style="align-content:center;text-align:center">@result.EngineResult.GetName()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

