@model AnalysisViewModel
@{
    <div style="margin-left:2%;margin-right:2%">
        <div class="card border-dark">
            <div class="card-body">
                <div class="row">
                    <div class="col col-md-auto">
                        <img src="@Model.ExtensionsIconUrl" />
                    </div>
                    <div class="col">
                        <div>
                            <div class="row">
                                <div class="col">
                                    <h4>@Model.ExtensionName (ver. @Model.ExtensionVersion) <a href="@Model.ExtensionPageUrl" target="_blank"><img src="~/icons/open_in_new_blue.svg" style="margin-bottom:5px" /></a></h4>
                                </div>
                                <div class="col-md-auto">
                                    <div><i>Avaliado em @Model.AnalysisDateTime</i></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div><b>Publicado por:</b> @Model.ExtensionProvider</div>
                                    <div><b>Data da versão:</b> @Model.ExtensionLastUpdate</div>
                                    <div><b>ID da extensão:</b> @Model.ExtensionId</div>

                                </div>
                                <div class="col">
                                    <div><b>Avaliação:</b> @Model.ExtensionRating / 5,0</div>
                                    <div><b>Núm. Avaliações:</b> @Model.ExtensionReviews</div>
                                    <div><b>Núm. Downloads:</b> @Model.ExtensionDownloads</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top:1%">
            <ul class="nav nav-tabs nav-fill border-dark" aria-label="Secondary navigation">
                <li class="nav-item">
                    <a class="nav-link border-dark border-bottom-0 active" href="#" data-bs-toggle="tab" role="tab" data-bs-target="#permissions"><b>Permissões</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border-dark border-bottom-0" href="#" data-bs-toggle="tab" role="tab" data-bs-target="#urls"><b>URLs acessadas</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border-dark border-bottom-0" href="#" data-bs-toggle="tab" role="tab" data-bs-target="#javascript"><b>Arquivos JavaScript</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border-dark border-bottom-0" href="#" data-bs-toggle="tab" role="tab" data-bs-target="#malware"><b>Malware</b></a>
                </li>
            </ul>
            <div class="tab-content card border-dark border-top-0">
                <div class="tab-pane fade active show" role="tabpanel" id="permissions" style="margin-left:1%;margin-right:1%">
                    @await Html.PartialAsync("_PermissionsPartial", Model.ExtensionPermissions)
                </div>
                <div class="tab-pane fade" role="tabpanel" id="urls" style="margin-left:1%;margin-right:1%">
                    @await Html.PartialAsync("_UrlsPartial", Model.ExtensionUrls)
                </div>
                <div class="tab-pane fade" role="tabpanel" id="javascript" style="margin-left:1%;margin-right:1%">
                    @await Html.PartialAsync("_JsFilesPartial", Model.ExtensionJSFiles)
                </div>
                <div class="tab-pane fade" role="tabpanel" id="malware" style="margin-left:1%;margin-right:1%">
                    @await Html.PartialAsync("_VirusTotalPartial", Model.ExtensionVTResponse)
                </div>
            </div>
        </div>
    </div>
}
